/*
 * Name: Harsha Deep Reddy V
 * 
 * Date: 18 Sep 2014 
 * Purpose of this module: This is the stylesheet for the fxml file. This contains the styles for 
 *                         various controls and elements of the primary window of the project. 
*/

/*The style of the table is set here*/
.table-view:row-selection .column-header-background .nested-column-header .table-column .label
{
	-fx-padding:10px;
	-fx-background-color: #194AAB;
	-fx-font-family: Helvetica;
	-fx-font-weight: 100;
}

.table-view:row-selection
{
	-fx-font-family: Helvetica;
	-fx-font-weight: 100;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view:row-selection .column-header-background .nested-column-header .table-column
{
	-fx-padding:10px;
	/*-fx-background-color: #1F5CBF;*/
	-fx-background-color: #194AAB;
}

.table-view:row-selection .column-header-background .nested-column-header .table-column .arrow
{
	-fx-background-color: white;
}

.table-view:row-selection .column-header-background .nested-column-header .table-column .label .text
{
	-fx-fill: white;
}

.table-view:focused .table-row-cell:filled:selected .table-cell {
    -fx-text-fill: white;
}

.table-view .table-cell {
    -fx-alignment: CENTER;

    -fx-padding: 0.266667em;

    -fx-text-fill: #5B636E;

    -fx-font-family: Helvetica;
	-fx-font-weight: 100;
}

.split-pane {
    -fx-background-color: white;
}

.split-pane:horizontal .split-pane-divider
{
	-fx-background-color: white;
}

/*The style of the label is set here*/
.label 
{
	-fx-text-fill: #5B636E;
	-fx-font-family: Helvetica;
	-fx-font-weight: 100;
}

/*The style of the text field is set here*/
.text-field
{
	-fx-font-family: Helvetica;
	-fx-font-weight: 100;
	-fx-background-radius: 0,0;
	/*-fx-background-color: white;*/
}

/*The style of the elements with an id and class is set here*/
#titlepane{
	-fx-background-color:#194AAB;
}

#title{
	-fx-text-fill: white;
	-fx-font-size: 1.5em;
	-fx-font-family: Helvetica;
	-fx-font-weight: 100;
}

.safebuttons 
{
	-fx-padding:6px;
	-fx-text-fill: white;
	-fx-font-family: Helvetica;
	-fx-font-weight: 100;
	-fx-background-color: #194AAB;
	-fx-background-radius: 0,0,0,0;
}

.safebuttons:focused
{
	-fx-background-color: #143A79;
	-fx-border-style: dotted;
	-fx-border-color: white;
}

.safebuttons:hover {
	-fx-background-color: #143A79;
}

.text-field {
    -fx-font-size: 11px;
}

.unsafebuttons
{
	-fx-padding:6px;
	-fx-text-fill: white;
	-fx-font-family: Helvetica;
	-fx-font-weight: 100;
	-fx-background-color: #EB4325;
	-fx-background-radius: 0,0,0,0;
}

.unsafebuttons:hover {
	-fx-background-color: #BC361E;
}

.unsafebuttons:focused
{
	-fx-background-color: #BC361E;
	-fx-border-style: dotted;
	-fx-border-color: white;
}

.errorMessage {
	-fx-text-fill: #EB4325;
	-fx-font-weight: bold;
}

.progress-bar:determinate 
{
	-fx-accent: #194AAB;
}











